.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: none;
    background-color: transparent;
    max-width: 600px;
  }
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: none;
    background-color: transparent;
    max-width: 600px;
  }

  .register-form .input-group{
    margin-bottom: 1.75rem !important;
  }

  
  .form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .custom-button{
    width:100%;
    background-color: #80A8D9 !important;
    border: none !important;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out !important;
  }
  
  .custom-button:hover {
    background-color: rgb(50, 100, 160) !important;
  }