.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding-bottom:15px;
    padding-right:10px;
    padding-left:10px;
    box-shadow: none;
    background-color: transparent;
  }
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom:15px;
    padding-right:10px;
    padding-left:10px;
    border-radius: 8px;
    box-shadow: none;
    background-color: transparent;
    max-width: 600px;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #E1E2E3 ;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: Lato;
  }
  
  .custom-button{
    width:100%;
    padding-top:15px;
    color: #EFF0F9;
    font-family:Lato;
    background-color: #2D3A6E !important;
    border: none !important;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out !important;
  }
  
  .custom-button:hover {
    background-color:#2A3756 !important;
  }