
.site-header {
    background-color: #80A8D9;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom:20px;
  }

  .site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
   
  }

  .site-header ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }

  .site-header nav{
    margin-left:auto !important;
    padding-right:15px;
  }

  .logo {
    font-size: 24px;
    padding-left:10px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease; 
    
  }

  nav ul li {
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease !important;
    font-family: Lato !important;
   
  }
  
  nav ul li:hover {
    color: #000000 !important;
  }
  