
.background-image {
    background-color: whitesmoke;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
  }

.login-container{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}

.login-box {
    display:flex;
    max-width: 950px;
    width: 100%;
    height:725px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  }

.left-side {
    position:relative;
    display:flex;
    width:100%;
    overflow:hidden; 
   
  }

  #carousel {
    width:100%;
  }
  
  .carousel-inner{
    width:100%;
  }
  .carousel-item {
    height: 100%;
    background-size: cover ;
    background-position: center; /* Center the image */
    background-repeat:no-repeat; /* Don't repeat the image */
    /* border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; */
  }
  
  .carousel-item:first-child {
    background-image: url('../assets/images/slider.jpg');
  }
  /* .carousel-item:nth-child(2) {
    background-image: url('../assets/images/login_image.jpg');
  }
  .carousel-item:nth-child(3) {
    background-image: url('../assets/images/login_image.jpg');
  } */
  
  .carousel-indicators {
    list-style: none; /* Remove the numbers */
    padding-left: 0; /* Remove default padding */
    margin-bottom: 0; /* Remove default margin */
  }
  
  .carousel-indicators li {
    background-color: rgb(255, 255, 255) !important;
    border-radius: 50%; /* Makes the dots circular */
    width:15px !important;
    height:15px !important;
    margin: 0 5px !important; /* Spacing between the dots */
    cursor:pointer;
  }
  
  .carousel-indicators .active {
    background-color: #fff;
  }


.right-side{
  display:flex;
  flex-direction:column;
}

/* Contains the login form */

@font-face{
  font-family: Lato;
  src :url('../assets/fonts/Lato-Regular.ttf')
}



.right-side .form-container {
    padding: 5px;
    max-width:600px;
    width:100%;
    font-family: Lato;
  }

  .right-side h2 {
    margin-bottom: -20px;
    margin-top: 0px; /* Counteract the bottom margin */
    font-family: Lato;
    color:#021526;
   
  }
  
  .right-side p {
    margin-bottom: -50px;
    margin-top: 35px;
    font-family: Lato;
    font-size: 15px;
    color:#021526;
  }

