.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding:10px 0;
    margin-top:0;
}


.pagination .page-item .page-link:hover, .pagination .page-item.active .page-link{
    background-color: #2A3756; 
    color: #F0F0FF; 
    border:none;
}


.pagination .page-item .page-link {
    color: #384563; 
    background-color: #E5E4E2; 
    padding: 8px 12px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

