

/* PostParent CSS */

  .post-page-container{
    display: flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    min-height:100vh;
}

.center-content {
  width:100%;
  display: flex;
  flex-direction: column;
  flex-grow:1;
}

.posts-content {
    width:100%;
    flex-grow:1;
}

.pag-box{
    width: 100%;
    display: flex;
    justify-content: center;
}


.post-box {
    width: 100%; 
    padding: 20px; 
    box-sizing: border-box;
    height:100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-button-container {
  display: flex;
  justify-content: flex-start; 
  width: 100%;
  padding-bottom:15px;
}

.create-post-button {
  width:20%;
  background-color: #5987BF; 
  font-family: Lato;
  color: white;
  padding: 10px 20px; 
  font-size: 16px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}
.create-post-button:hover {
  background-color: #3A69A2; 
}

.view-post-button{
  font-family:Lato;
  white-space: nowrap;
  padding: 10px; 
  font-size: 16px; 
  width:35%;
  color: white;
  background-color:#5987BF; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  margin-top: 5px; 
  margin-right: 5px; 
  transition: background-color 0.3s ease; 
}

.view-post-button:hover {
  background-color: #3A69A2; 
}



/* Individual Post CSS */

.icon-container {
  position: absolute; 
  top: 10px;
  right: 10px; 
  display: flex;
  gap: 15px;
  padding-right:5px;
}

.icon{
  cursor:pointer;
  color: #5987BF;
}


.post-title {
    color: #5987BF;
    font-family: Lato;
    font-weight:bold;
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

.post-content {
    position:relative;
    font-family:Lato;
    font-size: 1rem;
    margin-bottom: 15px;
    color:black;
    opacity: .7;
    max-height:100px;
    overflow:hidden;
}

.post-box .post-content .fade-out {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55px; /* Height of the fade effect */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.post-category{
  font-family: Lato;
  font-size: 1rem;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bold;
  color:#80A8D9;
}

.post-box .post-username {
  color: #3A69A2 !important; 
  text-decoration: underline !important;
  cursor: pointer;
  font-size: 15px;
  margin-bottom:-1px;
  opacity: 0.7;
  font-family: Lato;
}

.post-box .post-username:hover {
  color: #0056b3 !important; 
}

.post-buttons-container{
  display:flex;
  flex-direction:row;
}








