

/* PostParent CSS */



.custom-post-page-container{
  padding: 20px;
  max-width: 95vw;
  height:100%;;
  margin: 0 auto; 
  /* background-color: #D8DFF2; */
  border-radius:6px;

}

.center-content {
  width:100%;
  display: flex;
  flex-direction: column;
  flex-grow:1;
}

.posts-content {
    width:100%;
    flex-grow:1;
}



.pag-box{
    width: 100%;
    display: flex;
    justify-content: center;
}




.create-button-container {
  width: 100%;
  padding-bottom:15px;
  margin-left:10px;
  
}

.create-post-button {
  width:20%;
  background-color: #2D3A6E; 
  font-family: Lato;
  color: #EFF0F9;
  padding: 10px 20px; 
  font-size: 16px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}
.create-post-button:hover {
  background-color: #384563; 
}

@media only screen and (max-width: 600px) {
  /* Styles for small screens */
  .create-post-button{
    width:30%;
  }
  
}


/* Individual post */

.post-container{
  height:50vh;
  width: calc(440px - 20px); 
  display:flex;
  justify-content: center;
  align-content: center;
}

.post-box {
  position:relative;
  display:flex;
  flex-direction: column;
  height:100%;
  width:400px;
  margin-bottom: 20px;
  padding: 20px; 
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
  background-color: #f3f5fb ;
  border: 0.5px solid #E5E4E2 ; 
}

.header-items{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
}

.post-category {
  white-space: nowrap;
  flex-shrink: 0;
  margin-left:20px;
  font-size: 12px;
  font-family:Lato;
  color: #2A3756;
  background-color: #C9CEEC;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.post-content {
  position: relative;
  overflow: hidden;
}


.truncated-text {
  margin: 0;
  color: #082567; 
  position: relative;
  display: block;
  line-height: 1.5em; 
}

.post-title {
    flex:1;
    white-space: nowrap;
    font-size: 20px;
    color: #2A3756;
    margin:0;
    margin-bottom: 8px;
    font-family:Lato;
    line-height: 1.5em; 
    overflow:hidden;
    text-overflow: ellipsis;
  }

.post-content p {
  margin: 0;
  color: #2A3756; 
  font-size: 16px;
  font-family: Lato ;
  
}

.post-date {
  font-size: 16px;
  color: #2A3756;
  font-family: Lato ;
  line-height: 1.5em; 
}


/* .post-category {
  font-size: 13px;
  color: #051319 ; 
  margin-bottom: 15px;
  line-height: 1.5em; 
} */




.post-username  {
  font-weight: bold;
  color: #384563;
  cursor: pointer;
  margin-right: 15px;
  line-height: 1.5em; 
}

.post-box .post-username:hover {
  color: #000B1C;
}

.post-buttons-container{
  display:flex;
  flex-direction:row;
}

.clickable-post {
  cursor: pointer; 
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.clickable-post:hover {
  transform: translateY(-5px); /* Slightly lift the card on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Increase shadow on hover */
}


.post-header {
  border-bottom: 1px solid #C3CDE6; 
  padding-bottom: 10px; 
  margin-bottom: 20px; 
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.post-footer {
  display: flex;
  align-items: center; 
  padding-top: 10px;
  margin-top: 20px; 
  margin-top:auto;
  justify-content: space-between;
}

.footer-items {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

  .options-icon{
    margin:0;
    margin-bottom:15px;
    font-size: 22px;
    cursor: pointer;
    color: #2D3A6E;
    line-height: 1.5em; 
    transition: color 0.2s ease;
    transition: background-color 0.3s ease;
  }
  
  .options-icon:hover {
    color: #2A3756;
    background-color: #E5E4E2;
  }


.options-container{
  position:relative;
  
} 

.dropdown-menu {
  display: inline-block !important;
  position: absolute;
  bottom:100%;
  right: 0;
  margin:0;
  padding:0;
  background-color: white;
  border:none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1000;
  width:180px !important;
  height:80px !important;
  background-color: #FAF9F6 !important;
}

.dropdown-item {
  font-family:Lato !important;
  cursor: pointer;
  /* width:100% !important; */
  line-height:1.5em !important;
  text-align: left;
  color: #333E48 !important;
  
}

.dropdown-item:hover {
  background-color: #E5E4E2 !important; 
}










