
/* Edit Post Form CSS */

.edit-post-container{
  display:flex;
  justify-content: center ;
  align-items:center ; 
  padding: 20px;
  overflow:hidden; 
}

.edit-form-container{
  overflow: auto;
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center ;
  align-items:center ; 
  overflow: visible;
}

.edit-post-form {
  overflow:visible;
  width:60%;
  height:90%;
  flex-direction:column;
  align-content: start;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #E5E6FA;
  border-radius: 8px;
  border: solid 1px #E1E2E3 ;
  padding: 20px;
  }

  .edit-popup-text{
    font-size:20px;
    font-family:Lato-Bold;
    color:#2A3756;
  }

  .edit-post-container select {
    width:100%;
    font-family:Lato-Regular;
    line-height:1.5em;
    color: #2A3756;
  }
  
  .edit-post-container .form-group {
    margin-bottom: 20px;
  }
  
  .edit-post-container .form-control,
  .edit-post-container .form-select {
    width: 100%; 
    padding: 10px; 
    border-radius: 5px;
  }
  .edit-post-container textarea {
    max-height:400px;
    overflow-y: auto;
  }
  .edit-post-container .form-group select::placeholder,
  .edit-post-container .form-group input::placeholder,
  .edit-post-container .form-group textarea::placeholder {
    width:100%;
    font-family:Lato-Regular;
    line-height:1.5em ;
    color: #2A3756;
  }
  .edit-post-container .form-group textarea,
  .edit-post-container .form-group input{
    font-family:Lato-Regular;
    line-height:1.5em;
    color: #000B1C;
    padding: 10px;
    font-size: 16px;
    border:solid 1px #E1E2E3 ;
  
  }

  .editpost-head{
  text-align:center;
  font-size:36px;
  font-weight:bold;
  font-family:Lato-Black;
  line-height:1.5em;
  color: #2D3A6E  ;
  margin-bottom: 20px;
  }

  @media only screen and (max-width: 600px) {

    .edit-post-form{
      width:100% !important;
      height:65% !important;
    }
  
    .editpost-head{
      font-size:28px !important;
    }
    .edit-post-container textarea {
      max-height:300px !important;
    }

    .post-form-button{
      width:50% !important;
    }

    .edit-post-container .post-form-button{
      margin-bottom: 10px !important;
    }

  }


  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D8DFF2 ;
    padding: 20px;
    border: 1px solid #E1E2E3;
    border-radius:5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height:20vh;
    width:40vw;
  }

  .popup-text{
    font-family:Lato-Bold;
    color:#2A3756;
    font-size:24px;
  }

  .create-post-container{
    display:flex;
    justify-content: center ;
    align-items:center ; 
    padding: 20px;
    overflow:hidden; 
  }

  .post-form-container{
    overflow: auto;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center ;
    align-items:center ; 
    overflow: visible;
    
  }


/* Create Post Form CSS */


@media (min-width: 768px) and (max-width: 1024px) {

}


@media only screen and (max-width: 600px) {

  .create-post-form{
    width:100% !important;
    height:65% !important;
  }

  .newpost-head{
    font-size:28px !important;
  }
  .create-post-container textarea {
    max-height:300px !important;
  }

  .post-form-button{
    width:50% !important;
  }

}
/* .text-center{
margin-top: 150px;
} */

.create-post-form{
  overflow:visible;
  width:60%;
  height:90%;
  flex-direction:column;
  align-content: start;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #E5E6FA;
  border-radius: 8px;
  border: solid 1px #E1E2E3 ;
  padding: 20px;
}

.newpost-head{
  text-align:center;
  font-size:36px;
  font-weight:bold;
  font-family:Lato-Black;
  line-height:1.5em;
  color: #2D3A6E  ;
  margin-bottom: 20px;
}

.create-post-container select {
  width:100%;
  font-family:Lato-Regular;
  line-height:1.5em;
  color: #2A3756;
}

.create-post-container .form-group {
  margin-bottom: 20px;
  
  
}

.create-post-container .form-control,
.create-post-container .form-select {
  width: 100%; 
  padding: 10px; 
  border-radius: 5px;
}
.create-post-container textarea {
  max-height:400px;
  overflow-y: auto;
}
.create-post-container .form-group select::placeholder,
.create-post-container .form-group input::placeholder,
.create-post-container .form-group textarea::placeholder {
  width:100%;
  font-family:Lato-Regular;
  line-height:1.5em ;
  color: #2A3756;
}
.create-post-container .form-group textarea,
.create-post-container .form-group input{
  font-family:Lato-Regular;
  line-height:1.5em;
  color: #000B1C;
  padding: 10px;
  font-size: 16px;
  border:solid 1px #E1E2E3 ;

}

.post-form-button{
    width:20%;
    color: #EFF0F9; 
    font-family: Lato-Bold;
    background-color: #2D3A6E;
    padding: 10px 20px; 
    font-size: 18px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    line-height:1.5em;
}

.post-form-button:hover{
  background-color:#384563;   
}



