
.homepage-container{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100%;
}

.post-page-container {
    flex: 1;
    width: 100%;
    max-width: 1200px; 
    padding: 0px;
    margin: 0 auto;
  }

.post-container{
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line as needed */
    justify-content: space-around; /* Distributes space around items */
    align-items: flex-start; /* Aligns items at the top of the container */
    padding: 10px;
}
.posts-content {
    grid-row: 1;
    min-height: 60vh;
    margin-bottom: 20px;
  }


.post-box {
    position: relative;
    width: 100%; 
    padding: 20px; 
    box-sizing: border-box;
    height:100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-container {
  position: absolute; 
  top: 10px;
  right: 10px; 
  display: flex;
  gap: 15px;
  padding-right:5px;
}

.icon{
  cursor:pointer;
  color: #5987BF;
}



.create-post-button {
    width:20%;
    background-color: #5987BF; 
    font-family: Lato;
    color: white;
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  .create-post-button:hover {
    background-color: #3A69A2; 
}

.post-title {
    color: #5987BF;
    font-family: Lato;
    font-weight:bold;
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

.post-content {
    position:relative;
    font-family:Lato;
    font-size: 1rem;
    margin-bottom: 15px;
    color:black;
    opacity: .7;
    overflow:hidden;
    max-height:100px;
}

.post-box .post-content .fade-out {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55px; /* Height of the fade effect */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.post-category{
  font-family: Lato;
  font-size: 1rem;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bold;
  color:#80A8D9;
}

.post-box .post-username {
  color: #3A69A2 !important; 
  text-decoration: underline !important;
  cursor: pointer;
  font-size: 15px;
  margin-bottom:-1px;
  opacity: 0.7;
  font-family: Lato;
}

.post-box .post-username:hover {
  color: #0056b3 !important; 
}

.post-buttons-container{
  display:flex;
  justify-content: space-between;
  flex-direction: column;

}

.view-post-button{
  font-family:Lato;
  white-space: nowrap;
  padding: 10px; 
  font-size: 16px; 
  width:35%;
  color: white;
  background-color:#5987BF; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  margin-top: 5px; 
  margin-right: 5px; 
  transition: background-color 0.3s ease; 
}

.view-post-button:hover {
  background-color: #3A69A2; 
}


.post-button{
    font-family:Lato;
    white-space: nowrap;
    padding: 10px; 
    font-size: 16px; 
    width:35%;
    color: white;
    background-color:#5987BF; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-top: 5px; 
    margin-right: 5px; 
    transition: background-color 0.3s ease; 
}

.post-button:hover {
    background-color: #3A69A2; 
}





