

/* For Both */

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}


.profile-button {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1.5);
padding: 10px 20px; 
font-size:16px;
font-family:Lato;
background-color: #a8a8a8; 
color: white; 
border: none; 
border-radius: 4px; 
cursor: pointer; 
transition: background-color 0.3s ease; 
margin-top:10px;
font-weight:bold;
}
.profile-button:hover {
background-color: #6c757d; 
}


/* Main Profile Page CSS */

.page-container{
  display:flex;
  justify-content: center;
  align-content: center;
  height:80vh;
  width: 100vw;
  border:none;
  padding:0;
  margin:0 auto;
  box-sizing: border-box;
}


.unified-section {
  display:flex;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  width:100%;
  height:100%;
  min-height: 80vh;
  padding:0;
  margin:0;
  box-sizing: border-box;
}


.profile-section {
  margin-left:20px;
  width:30%;
  height:90%;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.details-section {
  padding: 20px;
  height:90%;
  flex-basis: 50%;
  flex-grow: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  border-radius:5px;
  box-sizing: border-box;
}

.divider {
  width: 2px; 
  margin: 0 20px;  
  height: 80%; 
  box-sizing: border-box;
  
}

.bio {
  text-align: center;
}


.profile-username{
  text-align:center;
}

.profile-category{
  text-align:center;
}

.details-section h3 {
  font-family:Lato;
  font-size: 1.25em;
  color: #333;
  text-decoration: underline;
}

/* Edit Profile Page CSS */
.edit-page-container{
  display:flex;
  justify-content: center;
  align-content: center;
  height:80vh;
  width: 100vw;
  border:none;
  padding:0;
  margin:0 auto;
  box-sizing: border-box;
}

.details-section p{
  font-family: Lato;
}

.edit-unified-section{
  display: flex;
  width: 100vw; 
  height: 90vh; 
  min-height:80vh;
  padding: 0;
  margin:0;
  box-sizing: border-box;
  justify-content: center;
}

.edit-profile-section{
  margin-left:20px;
  flex-basis:30%;
  height:90%;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.edit-details-section{
  padding: 20px;
  height:90%;
  flex-basis: 50%;
  flex-grow: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  border-radius:5px;
  box-sizing: border-box;
}

.bio-label{
text-align:center;
}

.change-pic {
  font-family:Lato;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1.5);
  margin-top: 10px; 
  padding: 5px 10px;
  background-color: #a8a8a8; 
  color: #fff; 
  border-radius: 5px; 
  cursor: pointer; 
  text-align: center;
  text-decoration: none; 
  font-size: 14px; 
  transition: background-color 0.3s ease;
}
.change-pic:hover{
  background-color: #6c757d; 
}

.edit-details-section h3{
  font-family: Lato;
  font-size: 1.25em;
  text-decoration: underline;
}
.edit-details-section textarea{
  font-family: Lato;
}



  







