
.review-posts{
}

.review-post-box{
    display:flex;
    flex-direction:column;
    align-items:center;
    border: 2px solid;
    padding:25px;
    height:300px;
    width:300px;
    margin:20px;
    border-radius:6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
    background-color: #C9CEEC  ;
    border: 0.5px solid #E5E4E2 ; 
}

.review-button{
    width:15%;
    background-color: #2D3A6E; 
    font-family: Lato-Bold;
    color: #EFF0F9;
    padding: 12px 24px; 
    font-size: 14px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease
}

@media only screen and (max-width: 600px) {
   .review-button{
    width:50%;
    font-size:14px;
    padding:10px;
   }

   .review-posts{
    flex-direction:column;
   }
}

.accept.review-button{
    background-color: darkgreen;
}

.reject.review-button{
    background-color: darkred;
}

.review-post-box p{
    font-family:Lato-regular;
    color: #2D3A6E;
}

.review-category{
    border:solid 1px #E1E2E3 ;
    padding:4px 8px;
    border-radius:4px;
}

.review-post-owner{
    font-family:Lato-Bold !important;
    font-size:16px;
}

.review-title{
    font-family:Lato-Black !important;  
    font-size:20px;
}

